.sidebar {

	&-container {
		padding: 0 10px;

		section {
			margin-bottom: 2em;
		}

		a {
			text-decoration: none;
			color: $action-color;
			border-bottom: 1px solid lighten($action-color, 25%);

			&:hover {
				border-bottom: 1px solid $action-color;
			}
		}
	}

	&__block {
		font-size: em(14);

		p {
			margin-bottom: 10px;
			line-height: 1.3;

			&:last-child {
				margin-bottom: 0;
			}
		}

		ul {
			margin-bottom: em(20);

			&:last-child {
				margin-bottom: 0;
			}

			li {
				line-height: 1.3;
				margin-bottom: em(10);
			}

			img {
				height: 1.2em;
				vertical-align: middle;
				margin-right: em(5);
			}

			&.numeric {
				margin-left: em(16);
				list-style-type: tibetan;
			}
		}
	}

	&__header {
		font-size: 16px;
		font-weight: 600;
		color: #6B62DC;
		text-transform: uppercase;
		margin-bottom: em(7);
	}
}
