.streamer-container {
	display: inline-block;
	padding: 4px 10px 4px 0;

	&--online {

	}

	&--offline {

		a {
			color: $light-text-color-secondary;
			border-bottom: none;

			&:hover {
				border-bottom: 1px solid $light-text-color-secondary;
			}
		}
	}
}
