.tournament {

	&__stage {
		color: #FFFFFF;
		background-color: #7C90A5;
		padding: 6px 6px 3px;
		display: inline-block;
		font-size: 26px;
		margin-top: 20px;
		font-weight: 600;
		text-transform: uppercase;
	}
}
