.checkbox {
	display: table;
	@include user-select(none);
	
	&__checker {
		width: 33px;
		height: 37px;
		display: table-cell;
		cursor: pointer;
		background-size: cover;
		@include background-image(url("/dist/images/checkbox.png") center no-repeat);
		
		&--active {
			background-image: url("/dist/images/checkbox-active.png");
		}
	}
	
	&__label {
		display: table-cell;
		vertical-align: middle;
		padding-left: 10px;
		cursor: pointer;
		color: $light-text-color;
		text-transform: uppercase;
		font-size: 14px;
	}
}