
html, body {
	font-family: $base-font-family;
	background-color: $base-background-color;
}

.content {
	@include outer-container;
	margin-top: 1em;
}

	.page-container {
		@include span-columns(8);
	}
	
	.sidebar-container {
		@include span-columns(4);
	}
	
section {
	margin-bottom: 20px;
}