
html, body {
	font-family: $base-font-family;
	background-color: $base-background-color;
}

.content {
	margin-top: 1em;
	
	@include media($medium-screen-up) {
		@include outer-container;
	}
}

	.page-container {
		@include media($medium-screen-up) {
			@include span-columns(8);
		}
	}
	
	.sidebar-container {
		@include media($medium-screen-up) {
			@include span-columns(4);
		}
	}
	
section {
	margin-bottom: 20px;
}