
html, body {
	font-family: $base-font-family;
	background-color: $base-background-color;
}

.content {
	opacity: 1;
	@include transition(opacity 0.5s);
	
	@include media($medium-screen-up) {
		@include outer-container;
		margin-top: 1em;
	}
	
	&--loading {
		@include transition(opacity 0s);
		opacity: 0;
	}
}

	.page-container {
		@include media($medium-screen-up) {
			@include span-columns(8);
		}
	}
	
	.sidebar-container {
		@include media($medium-screen-up) {
			@include span-columns(4);
		}
	}
	
	.content-spinner {
		position: absolute;
		top: 25%;
  		left: 50%;
    	@include transform(translateX(-50%));
		
		.spinner {
			margin: 14px auto;
		}
	};
	
section {
	margin-bottom: 20px;
}