
h1 {
	font-size: em(22);
	font-weight: 700;
	padding: em(10) 0 em(10);
	text-transform: uppercase;
	text-align: center;
	line-height: 1.2;

	@include media($medium-screen-up) {
		text-align: left;
	}

	a {
		@include transition(all .15s);
		text-decoration: none;
		color: $action-color;
		display: inline-block;
		border-bottom: 1px solid rgba($action-color, .5);

		&:hover {
			color: darken($action-color, 20%);
			border-bottom-color: darken($action-color, 20%);
		}
	}

	small {
		font-size: 20px;
	}
}

h2 {
	font-size: em(18);
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
	margin: 0;
	padding: 0 0 em(10) 0;

	@include media($medium-screen-up) {
		text-align: left;
	}
}

h3 {
	color: #FFFFFF;
	background-color: #7C90A5;
	padding: 6px 6px 3px;
	display: inline-block;
	font-size: em(26);
	margin-top: em(16);
	margin-bottom: em(16);
	letter-spacing: 1px;
	font-weight: 600;
	text-transform: uppercase;

	&.no-bottom-margin {
		margin-bottom: 0;
	}
}

h4 {
	color: #FFFFFF;
	background-color: rgb(179, 190, 203);
	padding: 6px 6px 3px;
	display: inline-block;
	font-size: 20px;
	margin-top: 12px;
	margin-bottom: 10px;
	letter-spacing: 1px;
	font-weight: 600;
	text-transform: uppercase;
}

