.improve {
	&__question-container {
		padding-left: em(10);
	}

	&__question-advanced-container {
		select {
			width: 50%;
			margin: 0 0 10px;
		}

		.ui-select-container {
			text-align: left;
		}
	}

	&__question {
		display: block;
		margin-bottom: em(10);
	}
}

.expander {
	$light-gray: #DDDDDD !default;
	$expander-arrow-width: .7em;
	$expander-toggle-size: 1em;
	$expander-toggle-arrow-size: $expander-toggle-size;
	$expander-toggle-margin: 1em;
	width: 100%;

	&__row {
		@include user-select(none);
		padding: em(10);
		border-bottom: 1px solid $light-gray;
		margin-bottom: $expander-toggle-size;

		&:before {
			font-size: $expander-arrow-width;
			content: '\25BC';
			margin-right: .5em;
		}

		&--content-hidden {
			&:before {
				font-size: $expander-arrow-width;
				content: '\25BA';
			}
		}
	}

	&__trigger {
		cursor: pointer;
		color: $action-color;
		font-size: $expander-toggle-size;
		text-decoration: none;
		font-weight: 600;
		text-transform: uppercase;
	}

	&__author {
		display: none;
		float: right;
		color: $light-text-color-secondary;
		font-size: 14px;

		@include media($medium-screen-up) {
			display: inline-block;
		}

		a {
			color: #8E8E8E;
			text-decoration: none;
			border-bottom: 1px solid #8E8E8E;

			&:hover {
				color: #656565;
				border-bottom: 1px solid #656565;
			}
		}
	}

	&__content p {
		color: $base-font-color;
		line-height: $base-line-height;
	}

	&__loading {
		div {
			margin: 14px auto;
		}

		span {
			text-align: center;
			display: inline-block;
			width: 100%;
		}
	}

	&__thankyou {
		color: #62835C;
	}
}
