$rating-voted-color: #122E5A;
$rating-not-voted-color: $action-color;
$rating-hover-color: #62835C;

.rating {
	@include user-select(none);
	margin-top: 3px;
	font-weight: 600;

	text {
		@include user-select(none);

		&:last-child {
			display: none;
		}
	}

	path {
		@include transition(all .25s);
		fill: $rating-not-voted-color;
	}

	&--not-voted.rating--authorised {
		cursor: pointer;

		&:hover {
			text {
				display: none;

				&:last-child {
					display: block;
				}
			}

			path {
				fill: $rating-hover-color;
			}
		}
	}

	&--voted {
		path {
			fill: $rating-voted-color;
		}
	}
}
