.rating {
	@include user-select(none);
	margin-top: 3px;
	font-weight: 600;
	
	text {
		@include user-select(none);
		
		&:last-child {
			display: none;
		}
	}
	
	path {
		@include transition(all 0.25s);
	}
	
	&--not-voted {
		cursor: pointer;
		
		&:hover {
			
			text {
				display: none;
				
				&:last-child {
					display: block;
				}
			}
			
			path {
				fill: #62835c;
			}
		}
	}
}
