$video-width: 640px;
$video-height: 360px;
$video-container-top-color: #172c58;
$video-container-bottom-color: #2c0448;

.video {
	
	&__cover {
		max-width: $video-width;
		height: $video-height;
		@include linear-gradient($video-container-top-color, $video-container-bottom-color);
	}
	
	&__hide-duration-container {
		padding: 16px 0 0 20px;
	}
	
	&__play {
		width: 91px;
		height: 105px;
		margin: 11px auto 20px;
		cursor: pointer;
		@include background-image(url("/dist/images/play.png") center no-repeat);
	}
	
	&__description {
		text-align: center;
		color: $light-text-color;
		font-weight: 700;
		
		a {
			color: $light-text-color;
			text-decoration: none;
			border-bottom: 1px solid $light-text-color-blend;
			@include transition(all 0.3s ease-in-out);
			
			&:hover {
				color: $light-text-color-bright;
				border-bottom-color: $light-text-color-bright;
			}
		}
		
		span {
			display: block;
			text-transform: uppercase;
		}
	}
	
		&__stage {
			font-size: 16px;
			margin-bottom: 6px;
			color: $light-text-color-blend;
		}
		
		&__tournament {
			font-size: 22px;
			letter-spacing: 1px;
			margin-bottom: 10px;
		}
		
		&__format {
			font-size: 14px;
			color: $light-text-color-blend;
			margin-bottom: 16px;
		}
		
		&__teams {
			color: $light-text-color-blend;
			margin-bottom: 38px;
			
			a {
				text-transform: none;
			}
		}
		
		&__casters {
			font-size: 14px;
			text-transform: none !important;
			color: $light-text-color-blend;
			
			span, a {
				color: $light-text-color-blend;
				text-transform: none;
				display: inline;
			}
		}
		
	iframe {
		width: $video-width;
		height: $video-height;
	}
}