$video-list-item-primary-color: #000000 !default;
$video-list-item-time-color: #b9b9b9 !default;
$video-list-item-secondary-color: #777777 !default;
$video-list-item-info-border-color: #e1e1e1 !default;
$video-list-item-hover-background-color: rgba(43, 6, 73, 0.07) !default;

.video-list {
	
}

.video-list-item {
	@include display(flex);
	@include transition(background-color 0.15s);
	cursor: pointer;
	padding: em(20) em(10);
	border-bottom: 1px solid #D6D6D6;
	
	@include media($medium-screen-up) {
		padding: em(20) em(20) 0;
		margin: 0 -20px;
		border-bottom: none;
	}
	
	&:hover {
		background-color: $video-list-item-hover-background-color;
	}
	
	&__info {
		@include align-self(flex-start);
		width: 100%;
		margin-left: em(20);
		
		@include media($medium-screen-up) {
			padding-bottom: em(20);
			border-bottom: 1px solid #D6D6D6;
		}
	}
	
		&__time {
			color: $video-list-item-time-color;
			font-size: em(12);
			margin-bottom: em(5);
		}
		
	
	&__main {
		
		@include media($medium-screen-up) {
			height: em(20);
		}
		
		span {
			font-weight: 600;
			display: inline-block;
			color: $video-list-item-primary-color;
		}
	}
	
		&__teams {	
			display: block;
			margin-top: em(10);
			
			@include media($medium-screen-up) {
				margin-left: em(20);
				margin-top: 0;
				display: inline-block;
			}
			
			small {
				font-weight: 400;
				color: $video-list-item-secondary-color;
			}
		}
		
			&__show-teams {
				display: inline-block;
				color: $light-text-color-blend;
				border-bottom: 1px dotted $light-text-color-blend;
				padding-bottom: em(2);
				font-size: em(14);
			}
		
		&__stage {
			color: $video-list-item-secondary-color;
			font-weight: 600;
			font-size: em(14);
		}
		
		&__casters {
			color: $video-list-item-secondary-color;
			font-size: em(14);
			margin-top: em(12);
		}
}